/* src/components/Banner.css */

.banner {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: calc(33.33% + 16px);
  transform: translateY(-50%);
  width: calc(33.33% - 32px);
  color: #fff;
}

.banner-text {
  margin-bottom: 20px;
}

.cta-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

.banner-slider {
  width: 100%;
  height: 100%;
}

.banner-video,
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para as setas de navegação */

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
