/* src/Layout.css */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
  position: fixed;
  width: 100%;
  transition: background-color 0.3s ease; /* Transição suave para a mudança de cor de fundo */
  z-index: 1000; /* Garante que o cabeçalho fique sobreposto a outros elementos */
}

.header.scrolled {
  background-color: #000; /* Aplica o fundo preto apenas quando a classe 'scrolled' está presente */
  height: 100px;
}

.logo img {
  width: 200px;
  position: fixed;
  top: 0;
  left: 20%;
}

.nav ul {
  list-style-type: none;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.main {
  flex: 1;
  padding: 2rem;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.highlighted-logo {
  filter: brightness(200%) contrast(100%);
  /* filter: invert(1); */
  width: 300px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
  .header {
    padding: 0.5rem;
  }

  .logo img {
    width: 150px;
  }

  .nav li {
    margin-right: 10px;
  }
}
